.error_404 {
    h2 {
        text-align: center;
    }

    .error__img {
        text-align: center;

        img {
            width: 500px;
            height: auto;
            border-radius: 15%;
        }
    }

    .boton_volver {
        text-align: center;
        padding: 20px;

        .volver {
            text-decoration: none;
        }
    }
}