.productos {
    display: grid;
    width: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
    justify-items: center;
    align-items: center;
    padding: 20px;

    .productos_item {
        display: flex;
        flex-direction: column;
        align-items: center;

        .producto__img {
            width: 300px;
            border: black 2px solid;
        }

        .boton_productos {
            font-size: 1rem;
            color: white;
            background-color: #008cff;
            border-radius: 3px;
            padding: 5px;
        }
    }
}

.productos_ofertas {
    background-color: $colortitulo;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 40px;
}

.nuevos_ingresos {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "img1 img2 img2"
        "img3 img3 img3";
    gap: 5px;
    padding-bottom: 10px;

    .img1 {
        grid-area: img1;
    }

    .img2 {
        grid-area: img2;
    }

    .img3 {
        grid-area: img3;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.ofertas_container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 10px;
}

.ofertas_card {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    gap: 20px;
}